body {
    font-size: 0.95em;
}


section {
    font-family: "Open Sans";
    color: #333;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    padding: 2em 25%;
    border: none;
}

section:focus {
    outline: 0;
}


/*------- Universal styles -------*/

.lighter.mark,.lighter.list {
    color: #999;
    font-weight: 300;
}

.lighter.heading1,
.lighter.heading2,
.lighter.heading3,
.lighter.heading4,
.lighter.heading5,
.lighter.heading6 {
    margin-left: -1.7em;
    font-weight: 600;
    display: inline-block;
    padding: 1em 0 0.7em 0;
}

.lighter.heading1 {
    font-size: 2em;
    margin-left: -0.9em;
}
.lighter.heading2 {
    font-size: 1.6em;
    margin-left: -1.5em;
}
.lighter.heading3 {
    font-size: 1.5em;
    margin-left: -2.3em;
}
.lighter.heading4 {
    font-size: 1.4em;
    margin-left: -2.9em;
}
.lighter.heading5 {
    font-size: 1.3em;
    margin-left: -3.6em;
}
.lighter.heading6 {
    font-size: 1.1em;
    margin-left: -4.3em;
}

.lighter.bold {
    font-weight: bold;
}

.lighter.italic {
    font-style: italic;
}

.lighter.list {
    margin-left: 1em;
}

.lighter.quote {
    font-size: 1.1em;
    margin: 0.4em 0.5em;
    display: inline-block;
    font-style: italic;
}

.lighter.codeInline,
.lighter.codeBlock {
    font-family: 'Source Code Pro';
    font-size: 0.95em;
}

.lighter.codeInline {
    background-color: #fafafa;
}